GITHUB_OAUTH_CLIENT_ID=
GITHUB_OAUTH_CLIENT_SECRET=
OAUTH_CALLBACK_URL=https://jhleeweb.github.io/lazy-repo-management/
NEXT_PUBLIC_OAUTH_BRIDGE_URL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
